<h1>Listing <%= plural_name %></h1>

<table>
  <tr>
<% for attribute in attributes -%>
    <th><%= attribute.column.human_name %></th>
<% end -%>
  </tr>

<%% @<%= plural_name %>.each do |<%= singular_name %>| %>
  <tr>
<% for attribute in attributes -%>
    <td><%%=h <%= singular_name %>.<%= attribute.name %> %></td>
<% end -%>
  </tr>
<%% end %>
</table>