<h1>Listing <%= plural_name.titleize %></h1>

<table>
  <thead>
    <tr>
<% for attribute in attributes -%>
      <th><%= attribute.column.human_name %></th>
<% end -%>
    </tr>
  </thead>
  <tbody>
<%% @<%= plural_name %>.each do |<%= singular_name %>| %>
    <tr>
<% for attribute in attributes -%>
      <td><%%=h <%= singular_name %>.<%= attribute.name %> %></td>
<% end -%>
    </tr>
<%% end %>
  </tbody>
</table>