<h1>Listing Users</h1>

<ul class="choices">
<li><%= link_to 'Create New User', new_admin_user_path %></li>
</ul>

<%= will_paginate @users %>

<table>
  <thead>
    <tr>
      <%= sortable_table_header :name => "Name",  :sort => "name" %>
      <%= sortable_table_header :name => "Email",  :sort => "email" %>
      <%= sortable_table_header :name => "Role",  :sort => "role" %>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
<% for user in @users -%>
    <tr>
      <td><%=h user.name %></td>
      <td><%=h user.email %></td>
      <td><%=h user.role %></td>
      <td><%= link_to 'Edit', [:admin, user], :class => 'edit', :title => 'Edit this user' %></td>
      <td><%= link_to 'Delete', [:admin, user], :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete this user' %></td>
    </tr>
<% end %>
  </tbody>
  <tfoot>
    <tr>
      <%= sortable_table_header :name => "Name",  :sort => "name" %>
      <%= sortable_table_header :name => "Email",  :sort => "email" %>
      <%= sortable_table_header :name => "Role",  :sort => "role" %>
      <th colspan="2">Actions</th>
    </tr>
  </tfoot>
</table>

<%= will_paginate @users %>



<% content_for :sub_content do %>
  <h2>Filter<h2>
  
  <% form_for :search, :html => {:method => :get} do |f| %>
    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name, :value => (@criteria[:name] || '') %>
    </p>
    <p>
      <%= f.label :email %><br/>
      <%= f.text_field :email, :value => (@criteria[:email] || '') %>
    </p>
    <p>
      <%= f.submit "Filter", :disable_with => 'Filtering...' %> 
      <%= f.label :query_type_all, "all" %>
      <%= f.radio_button :query_type, 'all', :checked => ('checked' if (@criteria[:query_type] || 'all') == 'all'), :title => 'Match ALL criteria above.' %> 
      <%= f.label :query_type_any, "any" %>
      <%= f.radio_button :query_type, 'any', :checked => ('checked' if (@criteria[:query_type] || '') == 'any'), :title => 'Match ANY criteria above.' %>
    </p>  
  <% end -%>

<% end %>