<h1>Listing Users</h1>

<ul class="choices">
<li><%= link_to 'Create New User', new_admin_user_path %></li>
</ul>

<%= will_paginate @users %>

<table>
  <thead>
    <tr>
      <th><%= link_to 'Name', admin_order_users_by_path(:name, :desc) %></th>
      <th><%= link_to 'Email', admin_order_users_by_path(:email, :desc) %></th>
      <th>Type</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
<% for user in @users -%>
    <tr>
      <td><%=h user.name %></td>
      <td><%=h user.email %></td>
      <td><%=h user.class %></td>
      <td><%= link_to 'Edit', [:admin, user], :class => 'edit' %></td>
      <td><%= link_to 'Destroy', [:admin, user], :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %></td>
    </tr>
<% end %>
  </tbody>
  <tfoot>
    <tr>
      <th><%= link_to 'Name', admin_order_users_by_path(:name, :desc) %></th>
      <th><%= link_to 'Email', admin_order_users_by_path(:email, :desc) %></th>
      <th>Type</th>
      <th colspan="2">Actions</th>
    </tr>
  </tfoot>
</table>

<%= will_paginate @users %>
