<h1><%= @user.new_record? ? 'New' : 'Editing' %> User</h1>

<% form_for([:admin, @user], :html => {:multipart => true} ) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name  %>
  </p>

  <p>
    <%= f.label :email %><br/>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password %><br/>
    <%= f.password_field :password, :id => "password", :onKeyUp => "updateStrength(this.value)"  %>
    <div id="password-meter"><strong>Strength</strong><div id = "psContainer"><div id = "psStrength"></div></div></div>
  </p>

  <p>
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.label :role %><br/>
    <%= f.select :role, User::ROLES %>
  </p>

  <p>
    <%= f.submit "Save", :disable_with => 'Saving...' %> or <%= link_to 'Cancel', admin_users_path %>
  </p>
<% end %>


